<div class="main">    
    <div class="container">   
        <div class="form-heading"><h2>新規登録</h2></div>
        <div class="form users-form">
            <div class="error-message">    
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </div>
            <div class="form-body">
                    <%= form_with model: @user, local: true do |f| %>

                        <div class="form"> 
                            <p><%= f.label :name, 'ユーザー名' %></p>
                            <%= f.text_field :name %>
                        </div>

                        <div class="form"> 
                            <p><%= f.label :email, 'メールアドレス' %></p>
                            <%= f.email_field :email %>
                        </div>

                        <div class="form">     
                            <p><%= f.label :password, 'パスワード' %></p>
                            <%= f.password_field :password %>
                        </div>

                        <div class="form-botton"> 
                            <%= f.submit "新規登録" %>
                        </div>
                <% end %> 
            </div>
        </div>
    </div>
</div>
