<div>
  <div>投稿内容変更</div>
    
  <%= form_with model: @item, local: true do |f| %> 
    
    <p><%= f.label :content, '商品説明' %></p>
       <%= f.text_area :content %>

    <p><%= f.label :buy_place, '購入先' %></p>
       <%= f.text_field :buy_place %>
 
    <p><%= f.label :price, '価格' %></p>
       <%= f.text_field :price %>

    <%= f.submit "変更" %>

<% end %>
    
</div>