<div>
  <div>投稿を編集する</div>
　
  <%= form_with model: @item, local: true do |f| %>
    <div class='form'>
        
       <p><%= f.label :content, '商品説明' %></p>
       <%= f.text_area :content %>
        
       <p><%= f.label :buy_place, '購入場所' %></p>
       <%= f.text_field :buy_place %>
        
       <p><%= f.label :price, '価格' %></p>
       <%= f.text_field :price %>円
        
       <% @item.images.each do |image| %>
         <%= f.fields_for :images, image do |image_fields| %>
           <p>メイン画像</p>
           <%= image_fields.file_field :image_name %>
         <% end %>
      <% end %>
        
        <%= f.submit '投稿を変更' %>
    </div>
   <% end %>  

</div>
